<!DOCTYPE html>
<html>
    <head>
     <title>Cadastro de Turma</title>
     <meta charset="UTF-8">
     <link href="/style.css" rel="stylesheet" text="text/css"> 
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header>
            <div>
              <h1 id="titulo">ENERGIA E FORÇA</h1>
              <img id ="logotipo" src="/imagens/logo.png" alt="logo"/>
            </div>
          </header>
          <form action="" id="formpattern">
            <h1 class="formtitle">Criar Turma</h1>
            <input type="text" placeholder="Insira o nome da turma" required> <br /> <br />
            
            <input type="text" placeholder="Insira o estilo de arte marcial" required> <br /> <br />
            
            <input type="text" placeholder="Inserir código de identificação do instrutor (ID)" required> <br /> <br />
            
            <input type="text" placeholder="Inserir o código de identificação da agenda (ID)" required> <br /> <br />
 
            <input type="submit" id="button" value="ENVIAR">
           </form>
           <img src="/imagens/exit (1).png" id="exit" onclick="location.href='paginainicial'">
    </body>
</html>