<!DOCTYPE html>
<html>
    <head>
     <title>Perfil</title>
     <meta charset="UTF-8">
     <link href="/style.css" rel="stylesheet" text="text/css"> 
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header>
            <div>
              <h1 id="titulo">ENERGIA E FORÇA</h1>
              <img id ="logotipo" src="/imagens/logo.png" alt="logo"/>
            </div>
          </header>
          <div id="profilebox">
            <img src="/imagens/profilepic.png" id="profilepic">
            <h1 id="profilename">Adson Cauã Nicacio de Araujo</h1> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
            <div id="minibox1">
            <h2>E-MAIL</h2>
            <p>adsoncn@gmail.com</p>
        </div>
            <div id="minibox2">
            <h2>NÍVEL DE ACESSO</h2>
            <p>Total</p>
            </div>
            <div id="minibox4">
                <img src="/imagens/aaa (1).png" class="formaticon">
            </div>
          </div>
          <a href="home" id="desconect">DESCONECTAR</a>
        <img src="/imagens/exit (1).png" id="exit" onclick="location.href='paginainicial'">
        <footer><p id="footer">Todos os direitos reservados a Corporação Energia e Força</p></footer>
    </body>
</html>