<!DOCTYPE html>
<html>
    <head>
     <title>Recuperação de senha</title>
     <meta charset="UTF-8">
     <link href="/style.css" rel="stylesheet" text="text/css"> 
    </head>
    <body>
        <header>
            <div>
              <h1 id="titulo">ENERGIA E FORÇA</h1>
              <img id ="logotipo" src="/imagens/logo.png" alt="logo"/>
            </div>
          </header>
          <form id="formpattern" method="post" autocomplete="off" action="index.html">
          <input type="email" placeholder="Insira seu email" required> <br /> <br />

          <input type="text" placeholder="Insira o código de verificação" required> <br />
          <a href="" id="link1">Enviar Código de Verificação</a> <br /> <br /> <br />
          
          <input type="password" placeholder="Digitar nova senha" required> <br /> <br />
          
          <input type="password" placeholder="Confirmar nova senha" required> <br /> <br />
          <input type="submit" id="button" value="CONFIRMAR">
        </form>
          <img src="/imagens/exit (1).png" id="exit" onclick="location.href='login'">
    </body>
</html>