<!DOCTYPE html>
<html>
    <head>
     <title>Registrar Pagamento</title>
     <meta charset="UTF-8">
     <link href="/style.css" rel="stylesheet" text="text/css"> 
    </head>
    <body>
        <header>
            <div>
              <h1 id="titulo">ENERGIA E FORÇA</h1>
              <img id ="logotipo" src="/imagens/logo.png" alt="logo"/>
            </div>
          </header>
          
          <form action="" id="formpattern">
            <h1 class="formtitle">Registrar Pagamento</h1>
            <input type="text" placeholder="Insira o código de identificação do membro" required> <br /> <br />
            
            <input type="email" placeholder="Insira o valor do pagamento" required> <br /> <br />
            <h2 class="inputtext">Data Limite de Pagamento</h2>
            <input type="date" placeholder="Insira a data limite de pagamento" required> <br /> <br />
            
            <h2 class="inputtext">Status de Pagamento</h2>
            <div id="radio1">
            <input type="radio" name="status"> <label class="sizing">Pago</label>  
          </div>
            <div id="radio2">
            <input type="radio" name="status"> <label class="sizing">Não Pago</label> 
          </div> <br> <br> <br> <br> <br> <br>
          <h2 class="inputtext">Data de Efetuação do Pagamento</h2>
            <input type="date"> <br /> <br /> <br> 
            <input type="submit" id="button" value="ENVIAR">
           </form>
           <img src="/imagens/exit (1).png" id="exit" onclick="location.href='paginainicial'">
    </body>
</html>