<!DOCTYPE html>
<html>
    <head>
     <title>Tela Inicial Pós Login</title>
     <meta charset="UTF-8">
     <link href="/style.css" rel="stylesheet" text="text/css"> 
    </head>
    <body>
        <header>
            <div>
              <h1 id="titulo">ENERGIA E FORÇA</h1>
              <img id ="logotipo" src="/imagens/logo.png" alt="logo"/>
            </div>
          </header>
          <div class="grid-container">
            <button class="grid-item" onclick="location.href='myaccount'"><img src="/imagens/R1 (1).png" class="reshape"><br /><h2 class="textmargin">Perfil</h2></button>

            <button class="grid-item" onclick="location.href='cadastroMembro'"><img src="/imagens/add.png" class="reshape"><h2 class="textmargin">Cadastrar Membro</h2></button>

            <button class="grid-item" onclick="location.href='cadastroTurma'"><img src="/imagens/turma.png" class="reshape1"><h2 class="textmargin">Cadastrar Turma</h2></button>

            <button class="grid-item" onclick="location.href='registrarPagamento'"><img src="/imagens/111111111 (1).png" class="reshape"><h2 class="textmargin">Registrar Mensalidade</h2></button>

            <button class="grid-item" onclick="location.href='listarMembros'"><img src="/imagens/membros.png" class="reshape"><h2 class="textmargin">Membros</h2></button>

            <button class="grid-item" onclick="location.href='listarTurmas'"><img src="/imagens/turmas.png" class="reshape2"><h2 class="textmargin">Turmas</h2></button>

            <button class="grid-item" onclick="location.href='listarMensalidade'"><img src="/imagens/calendar.png" class="reshape"><h2 class="textmargin">Mensalidade</h2></button>

            <button class="grid-item" onclick="location.href='CadastroADM'"><img src="/imagens/admcad.png" class="reshape2"><h2 class="textmargin">Cadastro de ADMs</h2></button>

            <button class="grid-item" onclick="location.href='listar'"><img src="/imagens/adm.png" class="reshape2"><h2 class="textmargin">Administradores</h2></button>
        </div>
          <footer><p id="footer">Todos os direitos reservados a Corporação Energia e Força</p></footer>
    </body>
</html>