<!DOCTYPE html>
<html>
    <head>
     <title>Painel de Turmas</title>
     <meta charset="UTF-8">
     <link href="/style.css" rel="stylesheet" text="text/css"> 
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header>
            <div>
              <h1 id="titulo">ENERGIA E FORÇA</h1>
              <img id ="logotipo" src="/imagens/logo.png" alt="logo"/>
            </div>
          </header>
          <table class="tabelas">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Estilo</th>
                <th>Ano da Turma</th>
                <th>Status da Turma</th>
                <th>Instrutor</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Turma 1</td>
                <td>Karatê</td>
                <td>2010</td>
                <td>true</td>
                <td>3</td>
                <td id="editar1"><a>Editar</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Turma 2</td>
                <td>Judô</td>
                <td>2011</td>
                <td>false</td>
                <td>1</td>
                <td id="editar2"><a>Editar</a></td>
            </tr>
            
                  </table>
                  <button onclick="location.href='CadastroTurma.html'" class="tablebuttons">INCLUIR</button>
        </div>
        <footer><p id="footer">Todos os direitos reservados a Corporação Energia e Força</p></footer>
        <img src="/imagens/exit (1).png" id="exit" onclick="location.href='paginainicial'">
    </body>

</html>